// nav{
//    width: 100%;
//    height: 74px;
    #menu{
        position: absolute;
        z-index: 1000;
        .text{
            
            
            right: 88px;
            content: "";
            top: 0;
            height: 74px;
            width: 900px;
            z-index: -1;
            clip-path: polygon(30px 0, 100% 0%, 100% 100%, 0% 100%);
            background-color: #f55b14;
            ul{
                display: flex;
                gap: 30px;
                cursor: pointer;
                
                li{
                    list-style: none;
                    color: white;
                    margin: 20px 0px;
                    &:hover{
                        color: black;
                    }     
                }
            }
        }
    }
// }
