// nav{
//    width: 100%;
//    height: 74px;
    #menu{
        position: absolute;
        z-index: 1000;
        .text{
            gap: 50px;
            display: flex;
           flex-direction: row;
            right: 88px;
            content: "";
            top: 0;
            height: 74px;
            width: 900px;
            z-index: -1;
            clip-path: polygon(30px 0, 100% 0%, 100% 100%, 0% 100%);
            background-color: #f55b14;
            .search{
                margin: 9px 0px;
     height: 57px;
    display: flex;
    align-items: center;
    background-color: gray;
    width: 70px;
    justify-content: center;
    clip-path: polygon(10px 0, 100% 0%, 88% 100%, 0% 100%);
    cursor: pointer;
    &:hover{background-color: white;}
                img{width: 25px;
                    
              
                }}
                .contact{
                    margin: 9px 0px;
                    height: 57px;
                   display: flex;
                   align-items: center;
                   background-color: gray;
                   width: 168px;
                   justify-content: center;
                   clip-path: polygon(10px 0, 100% 0%, 88% 100%, 0% 100%);
                   &:hover{background-color: white;
                cursor: pointer;
                p{ 
                    color: #f55b14;
                    }
                }
                p{
                    font-size: 18px;
                    font-weight: 800;
                    margin: 1px 0px;
                   

                }
                }
            }
            ul{
                display: flex;
                gap: 30px;
                cursor: pointer;
                
                li{
                    list-style: none;
                    color: white;
                    margin: 20px 0px;
                    &:hover{
                        color: black;
                    }     
                }
            }
        }
// }
